@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for Chrome/Safari/Edge */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #222;
}
::-webkit-scrollbar-thumb:hover {
  background: #444;
}

/* Global Reset */
body {
  margin: 0;
  background-color: black;
  color: white;
}